QLineEdit {
    font-family: 'Tajawal';
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 0px; 
}