QPushButton {
    font-family: 'Tajawal';
    font-size: 15px;
    text-align: center;
    background-color: #ffffff;
    color: #888888;
    padding: 5px;
    border: 1px solid #888888;
    border-radius: 0px; 
}

QPushButton:hover {
    background-color: #bbbbbb; 
}