QPushButton {
    background-color: #1E1E1E; 
    color: #BFBFBF; 
    font-family: "Helvetica Neue"; 
    font-size: 16px; 
    border: 1px solid #BFBFBF;
    border-radius: 0px; 
    padding: 16px;
    text-align: center;
} 
QPushButton:hover {
    background-color: #3C3C3C;
}